<div class="card mb-5" style="width: 22rem;">
    <h5 class="card-header">Form Contatti</h5>
    <div class="card-body">

<form #formcontatti="ngForm"  (ngSubmit)="inserisciContatto(formcontatti)">
    <p-floatlabel>
        <input type="text" class="form-control" id="nome" [(ngModel)]="nome" name="nome" required minlength="3" maxlength="20" pattern="^[A-Za-zÀ-ÖØ-öø-ÿ\s]+$" placeholder="Inserisci nome" #nomeRef="ngModel"   />
    </p-floatlabel>
    <div *ngIf="nomeRef.invalid && nomeRef.touched">
        <small class="text-danger" *ngIf="nomeRef.errors?.['required']">Il nome è obbligatorio.</small>
        <small class="text-danger" *ngIf="nomeRef.errors?.['minlength']">Minimo 3 caratteri.</small>
        <small class="text-danger" *ngIf="nomeRef.errors?.['maxlength']">Massimo 20 caratteri.</small>
        <small class="text-danger" *ngIf="nomeRef.errors?.['pattern']">Solo lettere e spazi.</small>
    </div>
<br>
    <p-floatlabel>
        <input type="text" class="form-control" id="email" [(ngModel)]="email" name="email" required email maxlength="40" placeholder="Inserisci email" #emailRef="ngModel" />
    </p-floatlabel>
    <div *ngIf="emailRef.invalid && emailRef.touched">
        <small class="text-danger" *ngIf="emailRef.errors?.['required']">L'email è obbligatoria.</small>
        <small class="text-danger" *ngIf="emailRef.errors?.['email']">Formato email non valido.</small>
        <small class="text-danger" *ngIf="emailRef.errors?.['maxlength']">Massimo 40 caratteri.</small>
    </div>
<br>
    <p-floatlabel>
        <input type="text" class="form-control" id="telefono" [(ngModel)]="telefono" name="telefono" required minlength="9" maxlength="15" pattern="^[0-9+\-\s]+$"  placeholder="Inserisci telefono" #telefonoRef="ngModel" />
    </p-floatlabel>
    <div *ngIf="telefonoRef.invalid && telefonoRef.touched">
        <small class="text-danger" *ngIf="telefonoRef.errors?.['required']">Il telefono è obbligatorio.</small>
        <small class="text-danger" *ngIf="telefonoRef.errors?.['minlength']">Minimo 9 cifre.</small>
        <small class="text-danger" *ngIf="telefonoRef.errors?.['maxlength']">Massimo 15 cifre.</small>
        <small class="text-danger" *ngIf="telefonoRef.errors?.['pattern']">Numeri, spazi, + e - consentiti.</small>
    </div>
<br>
<div class="text-end"></div>
<p-button class="text-end" icon="pi pi-check" iconPos="right" type="submit" label="Aggiungi Contatto" [raised]="true" [disabled]="!formcontatti.valid"/>
</form>
    </div>
        </div>

